[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
sqlalchemy = "*"
psycopg2 = "*"
oyaml = "*"

[dev-packages]
pandas-summary = "*"
numpy = "*"
scikit-learn = "*"
tqdm = "*"
ipykernel = "*"
nbstripout = "*"
pylint = "*"


[requires]
python_version = "3.6"
