[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
scikit-learn = "*"
tqdm = "*"
ipykernel = "*"
oyaml = "*"

[dev-packages]
pandas-summary = "*"

[requires]
python_version = "3.6"
